.main_banner {
  height: 95vh;
  overflow: hidden;
  text-align: center;
  border-radius: 0 0 0 20%;
  background: url(../assets/img/mainbanner.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.main_banner * {
  margin: 0;
  user-select: none;
}
.main_banner > div {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.main_banner h1 {
  font-size: 24px;
  color: #eee;
  font-family: "Recipekorea", sans-serif;
  margin: 10px 0;
}
.title p {
  font-size: 58px;
  color: #fff;
  line-height: 1.3;
}
.title span {
  font-size: 62px;
  font-weight: 500;
  color: #ddd;
}
.line {
  width: 60px;
  height: 3px;
  margin: 20px auto;
  background-color: #567df4;
  border-radius: 20px;
}
.main_banner h3 {
  margin: 20px 0;
  font-family: "Recipekorea", sans-serif;
  color: #cdd3e4;
}
.intro_txt {
  font-size: 18px;
  font-weight: 400;
  color: #cdd3e4;
  margin: 15px 0;
  color: #eee;
}
.intro_txt p {
  margin: 5px 0;
}
.intro_txt span {
  font-size: 22px;
  color: #fff;
}

/* 반응형 */
@media screen and (max-width: 960px) {
  .main_banner {
    border-radius: 0 0 0 100px;
  }
  .main_banner h1 {
    font-size: 18px;
  }
  .main_banner h3 {
    font-size: 16px;
  }
  .title p {
    font-size: 30px;
  }
  .title span {
    font-size: 38px;
  }
  .intro_txt {
    font-size: 14px;
  }
  .intro_txt span {
    font-size: 18px;
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .main_banner h1 {
    font-size: 16px;
  }
  .title p {
    font-size: 24px;
  }
  .title span {
    font-size: 30px;
  }
}
