.skills {
  background-color: #4a74f4;
  overflow: hidden;
  border-radius: 0 0 20% 0;
  padding: 8% 5%;
  box-sizing: border-box;
  padding-top: 120px;
}
.skills h1 {
  font-size: 50px;
  font-family: "Recipekorea", sans-serif;
  color: #fff;
  margin-top: 0;
}
.skills > div {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  box-sizing: border-box;
  gap: 70px;
}
.skills .card {
  width: calc((100% - (70px)) / 2);
  padding: 0 8%;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.skills .card:hover {
  transform: translateY(-20px);
}
.skills .card:last-child {
  flex: 1 1 100%;
}
.skills h2 {
  color: #1e2437;
  margin: 30px 0;
}
.skills .img_box {
  font-size: 0;
}

.skills .design img {
  width: calc((100% - (10% * 3)) / 4);
  margin-right: 10%;
  margin-bottom: 10%;
}
.skills .design img:nth-child(4n) {
  margin-right: 0;
}

.skills .git h2 {
  margin-bottom: 0;
}
.skills .git img {
  width: 100%;
}

.skills .front h2 {
  margin-bottom: 50px;
}
.skills .front > div {
  display: flex;
  justify-content: space-between;
}
.skills .front img {
  margin-bottom: 5%;
}
.skills .front .img_box1 {
  width: 40%;
  padding-bottom: 5%;
  box-sizing: border-box;
}
.skills .front .img_box2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.skills .front img {
  width: calc((100% - 5%) / 2);
  margin-right: 5%;
  margin-bottom: 0;
}
.skills .front img:nth-child(2n) {
  margin-right: 0;
}

/* 반응형 */
@media screen and (max-width: 1300px) {
  .skills > div {
    padding: 0 calc(5% / 2);
  }
}
@media screen and (max-width: 960px) {
  .skills {
    padding: 8% calc(5% / 2);
    border-radius: 0 0 100px 0;
    padding-top: 120px;
  }
  .skills > div {
    padding: 3% 0;
    gap: 40px;
  }
  .skills .card {
    width: calc((100% - (40px)) / 2);
    font-size: 0.8em;
    border-radius: 20px;
  }
  .skills h2 {
    margin: 20px 0;
  }
  .skills .front h2 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .skills > div {
    display: block;
    width: 100%;
    padding: 3%;
  }
  .skills .card {
    width: 100%;
    font-size: 0.8em;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  .skills .front > div {
    display: block;
  }
  /* img_box2 */
  .skills .front .img_box1 {
    width: 100%;
  }
  .skills .front .img_box1 img {
    width: calc((100% - (5% * 2)) / 3);
    margin-right: 5%;
    margin-bottom: 0;
  }
  .skills .front .img_box1 img:nth-child(2n) {
    margin-right: 5%;
  }
  .skills .front .img_box1 img:nth-child(3n) {
    margin-right: 0;
  }

  /* img_box2 */
  .skills .front .img_box2 {
    width: 100%;
  }
}
