@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

h1 {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}
.bg_skills{
  background-color: #dde9f5;
}
.bg_Projects{
  background-color: #333;
}
a{
  text-decoration: none;
  color: inherit;
}
